<project name="PROJECT_NAME" buildafterfailed="false">
    <plugin name="git" classname="net.sourceforge.cruisecontrol.sourcecontrols.Git"/>
    <modificationset quietperiod="300">
      <git localworkingcopy="projects/${project.name}/source/"/>
    </modificationset>
    <listeners>
      <currentbuildstatuslistener file="logs/${project.name}/status.txt"/>
    </listeners>
    <schedule interval="300">
      <ant anthome="apache-ant-1.7.0"
           buildfile="projects/${project.name}/build.xml"/>
    </schedule>
    <log dir="logs/${project.name}">
      <merge dir="projects/${project.name}/build/logs/"/>
    </log>
    <publishers>
      <!--
      Copies the generated api documentation into project artifacts directory.
      -->
      <artifactspublisher dir="projects/${project.name}/build/api"
                          dest="artifacts/${project.name}"                          subdirectory="api"/>
      <!--
      Copies the generated code coverage report into project artifacts directory.
      -->
      <artifactspublisher dir="projects/${project.name}/build/coverage"
                          dest="artifacts/${project.name}"
                          subdirectory="coverage"/>
      <!--
      Generates the different metric charts with the phpUnderControl ezcGraph
      extension.
      -->
      <execute command="phpuc graph logs/${project.name} artifacts/${project.name}"/>
      <!--
      Sends simple text emails after a project build. For nicer html emails,
      checkout the original CruiseControl documentation.
        * http://cruisecontrol.sourceforge.net/main/configxml.html#email
        * http://cruisecontrol.sourceforge.net/main/configxml.html#htmlemail
      -->

      <!-- <email mailhost="smtp.localhost"
             username="username"
             password="password"
             returnaddress="build@php-example.com"
             buildresultsurl="http://build.php-example.com/buildresults/${project.name}"
             skipusers="true"
             spamwhilebroken="true">
        <always address="build@php-example.com"/>
        <failure address="build@php-example.com"/>
      </email> -->
    </publishers>
  </project>

