<cruisecontrol>
    <!--project name="connectfour">

        <listeners>
            <currentbuildstatuslistener file="logs/${project.name}/status.txt"/>
        </listeners>

        <bootstrappers>
            <antbootstrapper anthome="apache-ant-1.7.0" buildfile="projects/${project.name}/build.xml" target="clean" />
        </bootstrappers>

        <modificationset quietperiod="30">
            <filesystem folder="projects/${project.name}"/>
        </modificationset>

        <schedule interval="300">
            <ant anthome="apache-ant-1.7.0" buildfile="projects/${project.name}/build.xml"/>
        </schedule>

        <log>
            <merge dir="projects/${project.name}/target/test-results"/>
        </log>

        <publishers>
            <onsuccess>
                <artifactspublisher dest="artifacts/${project.name}" file="projects/${project.name}/target/${project.name}.jar"/>
            </onsuccess>
        </publishers>

    </project-->
    
    
    <project name="sandeep" buildafterfailed="false">

        <listeners>
            <currentbuildstatuslistener file="logs/${project.name}/status.txt"/>
        </listeners>

        <bootstrappers>
            <antbootstrapper anthome="apache-ant-1.7.0" buildfile="projects/${project.name}/build.xml" target="clean" />
        </bootstrappers>
        
        <plugin name="git" classname="net.sourceforge.cruisecontrol.sourcecontrols.Git"/>
        <modificationset quietperiod="60">
            <!-- touch any file in sandeep project to trigger a build -->
            <filesystem folder="projects/${project.name}"/>
            <git localworkingcopy="projects/${project.name}/source/"/>
        </modificationset>

        <schedule interval="120">
            <ant anthome="apache-ant-1.7.0" buildfile="projects/${project.name}/build.xml"/>
        </schedule>

        <log dir="logs/${project.name}">
            <merge dir="projects/${project.name}/build/logs"/>
        </log>

        <publishers>
                <artifactspublisher dest="artifacts/${project.name}" dir="projects/${project.name}/build/api" subdirectory="api"/>
                
                <artifactspublisher dest="artifacts/${project.name}" dir="projects/${project.name}/build/coverage" subdirectory="coverage"/>
                
                <execute command="/var/www/phpuc/bin/phpuc.php graph logs/${project.name} artifacts/${project.name}"/>
                
                <execute command="phpcb --log projects/${project.name}/build/logs --source projects/${project.name}/source --output projects/${project.name}/build/php-code-browser"/>
                
                <artifactspublisher dest="artifacts/${project.name}" dir="projects/${project.name}/build/php-code-browser" subdirectory="php-code-browser"/>
        </publishers>

    </project>
</cruisecontrol>
